body
{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1
{
    margin-top: 125px;
    text-align: center;
    margin-bottom: 40px;
}
